var jsElm = document.createElement('script');
	jsElm.type = "application/javascript";
    jsElm.src = 'https://adserve.2adpro.com/js/viewability.js';
    
parent.document.body.appendChild(jsElm);

function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length,c.length);
        }
    }
    return "";
}

var freqCapCnt = getCookie('{{refId}}');
var displayVideo = '';
var displaySliveAd = 'none';
var setFreqCapCnt = '1';
if(freqCapCnt=='')
{
  displayVideo = '';
  displaySliveAd = 'none';
}
else if(freqCapCnt=='1')
{
 //displayVideo='none';
 displaySliveAd = '';
}



iframe = document.createElement('iframe');
iframe.id = 'frame_{{refId}}';
iframe.src = "{{creativeUrl}}?refId={{refId}}&clickmacro={{clickmacro}}&lId={{lId}}&cId={{cId}}&oId={{oId}}";
iframe.setAttribute('style','border:none;width:100%;height:100%;display:');
iframe.setAttribute('scrolling','no');
iframe.setAttribute('allowfullscreen',"true");
iframe.setAttribute('allowTransparency',"true");
iframe.setAttribute('webkitallowfullscreen',"true");
iframe.setAttribute('mozallowfullscreen',"true");

section = document.createElement('section');
div = document.createElement('div');
div.appendChild(iframe);
section.appendChild(div);
section.id='creative_disp';
section.setAttribute('style','width:100%;height:100%; z-index:99999; top:0; left:0; bottom:0;right: 0;position: fixed; margin: auto; background:rgba(0, 0, 0, 0.8);');
div.setAttribute('style','position:absolute; width: 640px; height: 480px; top: 50%; left: 50%; margin: -240px 0 0 -320px;');
section.style.display=displayVideo;
parent.document.getElementById(window.frameElement.id).parentNode.insertBefore(section,parent.document.getElementById(window.frameElement.id));
parent.document.getElementById(window.frameElement.id).style.display='none';

setCookie('{{refId}}',setFreqCapCnt,1);

var threshold = 0.5
var elapsedTime = 0
var startOfElapsedTime = -1 // -1 means not started
var tracked = 0;
	
function calculate(el) {
	var v = parent.viewability.vertical(el)
	var h = parent.viewability.horizontal(el)
	var combined = h.value * v.value
	if (combined > threshold) {
		if (elapsedTime === 0 && startOfElapsedTime === -1) {
			startOfElapsedTime = Date.now()
		}
		elapsedTime = Date.now() - startOfElapsedTime
	} else {
		elapsedTime = 0;
		startOfElapsedTime = -1 // resets to non-started position
	}
	
	if(elapsedTime>1000 && tracked==0)
	{
		tracked = 1;
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {};	
	    var params = 'refId={{refId}}';
	    params += '&lineId={{lId}}';
	    params += '&oId={{oId}}';
	    params += '&cId={{cId}}';
	    xmlhttp.open("POST", "https://adserve.2adpro.com/trackview", true);
	    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	    xmlhttp.send(params);
	}
		if(elapsedTime>1000 && tracked==0)
	{
		tracked = 1;
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {};	
	    var params = 'refId={{refId}}';
	    params += '&lineId={{lId}}';
	    params += '&oId={{oId}}';
	    params += '&cId={{cId}}';
	     params += '&event=VIEWED';
	    xmlhttp.open("POST", "https://adserve.2adpro.com/trackuseractivity", true);
	    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	    xmlhttp.send(params);
	}
}

function ReceiveMessageAdserve(evt) {
          if(evt.data == 'show')
                showHideCreative('show');
          else if(evt.data == 'hide')
                showHideCreative('hide');
         } // End Function ReceiveMessage


        if (!parent.window['postMessage'])
        { }
         else {
                if (parent.window.addEventListener) {
                    // For standards-compliant web browsers (ie9+)
                    parent.window.addEventListener("message", ReceiveMessageAdserve, false);
                }
                else {
                    //alert("not standards-compliant (ie8)");
                    parent.window.attachEvent("onmessage", ReceiveMessageAdserve);
                 }
        }

/* parent.window.setTimeout(function(){parent.window.setInterval(function() {
	calculate(parent.document.getElementById('creative_disp'));
}, 89);},1000); */
if(displayVideo=='')
{
	parent.document.getElementsByClassName('site-header-inner-wrap')[0].setAttribute('style','z-index: 0;');
	parent.document.getElementsByClassName('site-header')[0].setAttribute('style','z-index: -1; position:relative;');
	parent.document.body.setAttribute('style','overflow-y:hidden;');
}
setTimeout(function(){
parent.document.getElementById('creative_disp').setAttribute('style','display:none');
parent.document.getElementsByClassName('site-header-inner-wrap')[0].removeAttribute('style');
parent.document.getElementsByClassName('site-header')[0].removeAttribute('style');
parent.document.body.removeAttribute('style');
}, 15000);
function showHideCreative(action){
        if(action=='show')
        {
			var xmlhttp = new XMLHttpRequest();
			    xmlhttp.onreadystatechange = function() {};	
			    var params = 'refId={{refId}}';
			    params += '&lineId={{lId}}';
			    params += '&oId={{oId}}';
			    params += '&cId={{cId}}';
			    params += '&event=SHOW';
	            xmlhttp.open("POST", "https://adserve.2adpro.com/trackuseractivity", true);
	            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	            xmlhttp.send(params);		
		
                parent.document.getElementById('creative_disp').style.display='';
                parent.document.body.setAttribute('style','overflow:hidden;height:1380px');
				parent.document.getElementsByClassName('site-header-inner-wrap')[0].setAttribute('style','z-index: 0;');
				var win = parent.document.getElementById('frame_{{refId}}').contentWindow;
                if (win == null || !window['postMessage']){}
                else
                        win.postMessage("restart", "*");
        }
        else if(action=='hide')
        {
			var xmlhttp = new XMLHttpRequest();
			    xmlhttp.onreadystatechange = function() {};	
			    var params = 'refId={{refId}}';
			    params += '&lineId={{lId}}';
			    params += '&oId={{oId}}';
			    params += '&cId={{cId}}';
			    params += '&event=HIDE';
	            xmlhttp.open("POST", "https://adserve.2adpro.com/trackuseractivity", true);
	            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	            xmlhttp.send(params);
				
                parent.document.getElementById('creative_disp').style.display='none';
                parent.document.body.removeAttribute('style');
				var win = parent.document.getElementById('frame_{{refId}}').contentWindow;
                if (win == null || !window['postMessage']){}
                else
                        win.postMessage("stop", "*");
        }
};
closeButton.onclick = function(){
	showHideCreative('hide');
}




